@media only screen and (max-width: 550px) {
    #section3 {
        padding: 2rem 20px;
    }

    #videoLatestSermon {
        height: 300px;
    }

    #youtube-iframe {
        width: 100%;
    }

    #divSelectedMessages {
        height: 300px;
    }

    #divSelectedMessages #player2 {
        width: 100%;
        height: 300px;
    }

    #cookieDiv {
        padding: 30px;
    }
}

@media only screen and (max-width: 730px) {
    #pictureBannersPages {
        height: 200px !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center 30px !important;
    }

    /* .pictureBannersPages-leaders {
        background-position-y: ;
    } */

    #contactBackground {
        background-size: auto;
        background-position: center;
        background-attachment: local !important;
    }

    #pContact {
        margin: 10px 30px;
        margin-bottom: 30px;

        span {
            display: none;
        }
    }

    #section3 {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    #divLatestSermons {
        width: 100%;
    }

    #videoLatestSermon {
        width: 100% !important;
    }

    #youtube-iframe {
        width: 100%;
    }

    #divSelectedMessages {
        width: 100% !important;
        flex-direction: column !important;
    }

    #divSelectedMessages #player2 {
        width: 100%;
        height: 384px;
    }

    #divSelectedMessages #player3 {
        display: none !important;
    }

}

@media only screen and (max-width: 823px) {

    #map {
        display: flex;
        height: 300px;
        width: 90%;
        padding-bottom: 30px;
    }

    #logoBackgroundFooter {
        background-attachment: local !important;
        background-position: 30vw 305px !important;
        background-size: 500px auto;
        flex-direction: column;
        padding: 0;
    }

    #footerInfo {
        height: 300px;
        width: 400px;
        flex-wrap: wrap !important;
        flex-direction: row !important;
        padding: 0;
        justify-content: center !important;
        text-align: center;
    }

    #divSocial div p {
        justify-content: center !important;
    }

    #divLocationFooter address div h6 {
        color: rgb(2, 42, 154);
    }

    #footerInfo div {
        justify-content: center;
        padding: 0;
    }

    .divPrivacy {
        padding: 40px 30px !important;
        text-align: left;
    }
}

@media only screen and (max-width: 1035px) {
    #section3 {
        flex-direction: column;
        height: auto;
    }

    #divLatestSermons {
        width: 100%;
    }

    #videoLatestSermon {
        width: 100% !important;
    }

    #divSelectedMessages {
        flex-direction: row;
        padding-bottom: 20px;
    }

    #cookieDivRow {
        flex-direction: column;
        align-items: flex-start;
    }

    #cookieDivP {
        width: 100%;
        margin-bottom: 30px;
    }

    #cookieDivButton {
        width: 100%;
    } 

    .divPrivacy {
        padding: 40px 100px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 2000px) {
    #pictureBannersPages {
        background-repeat: no-repeat !important;
        background-size: contain !important;
        background-attachment: fixed !important;
        transform: none !important;
    }

    .pictureBannersPages-about {
        background-position: center -100px !important;
    }

    .pictureBannersPages-leaders {
        background-position: center -200px !important;
    }

    .pictureBannersPages-sermons {
        background-position: center -90px !important;
    }

    .pictureBannersPages-gospel {
        background-position: center -40px !important;
    }

    .pictureBannersPages-give {
        background-position: center -200px !important;
    }

    .pictureBannersPages-privacy {
        background-position: center -100px !important;
    }

    @media only screen and (min-width: 1200px) and (max-width: 1500px) {
        .pictureBannersPages-sermons {
            background-position: center -40px !important;
        }
        .pictureBannersPages-leaders {
            background-position: center -100px !important;
        }
        .pictureBannersPages-give {
            background-position: center -100px !important;
        }
        pictureBannersPages-privacy {
            background-position: center -200px !important;
        }
    }
}


@media only screen and (max-width: 932px) {
    #divContainerLeader {
        flex-direction: column;
        align-items: center;
    }

    #divContainerLeader div h2 {
        display: block;
        position: absolute;
        bottom: 50px;
        padding: 0px 0px;
        margin: 0px 0px;
        background-color: rgb(255, 255, 255);
        width: 40%;
    }

    #leaderMinistry {
        display: block;
        position: absolute;
        bottom: 20px;
        background-color: rgb(255, 255, 255);
        width: 55%;
    }

    #divContainerImageLeader {
        z-index: 10;
    }

    #divLeaders {
        width: 90%;
        margin-top: -25px;
        padding: 30px 30px;
        z-index: 0;
        border: 0;
    }

    #divLeaders p {
        text-align: left;
    }
}

@media only screen and (max-width: 510px) {
    #divLeaders {
        width: 93%;
    }

    #divLeaders p {
        font-size: 1rem;
    }
}