@media only screen and (max-width: 1039px) {
    .swiper-wrapper {
        gap: 0;
    }

    .swiper-slide {
        min-width: 25rem;
    }
}

@media only screen and (max-width: 550px) {
    .swiper-slide {
        min-width: 23rem;
    }
}