@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

body {
    font-family: Times, 'Times New Roman', 'Georgia', serif;
}

main {
    overflow-x: hidden !important;
}
